<div
  [class]="{
    status: true,
    'status-online': randomStatus() === 'online',
    'status-offline': randomStatus() === 'offline',
    'status-unknown': randomStatus() === 'unknown'
  }"
  
>
  @if (randomStatus() === 'online') {
    <p>Servers are online</p>
    <p>All systems are operational.</p>
  } @else if (randomStatus() === 'offline') {
    <p>Servers are offline</p>
    <p>Functionality should be restored soon.</p>
  } @else {
    <p>Server status is unknown</p>
    <p>Fetching server status failed.</p>
  }
</div>

